body {
    background-color:#D7D5C3;
    background:url(/TarunAerry/img/background1.jpg);
    background-attachment:fixed;
    background-size: cover;
}

/*.navbar {
  /*margin-bottom: 20px;
  background-color: #178acc;
}*/



/*  Nav Bar */
.navbar-default .navbar-nav > li.dropdown:hover > a, 
.navbar-default .navbar-nav > li.dropdown:hover > a:hover,
.navbar-default .navbar-nav > li.dropdown:hover > a:focus,
.navbar-default .navbar-nav > li:hover > a, 
.navbar-default .navbar-nav > li:hover > a:focus, 
.navbar-default .navbar-nav > li.dropdown > ul > li > a:hover {
    /*background-color: rgb(231, 231, 231);*/
    background-color: #178acc;
    /*background-color: #50b3eb;*/
    color: rgb(85, 85, 85);
}
li.dropdown:hover > .dropdown-menu {
    display: block;
}

.navbar-default .navbar-nav > li.dropdown > ul > li > a{
    color: black;
}
.navbar-default .navbar-nav > li > a{
    /*color: white ;*/
    height:110px ;
    align-items: center;
    display: flex;
}
#navBar1 .navbar-header,#navBar1 .navbar-header > a  {
    height:110px ;
}
#navBar1 .navbar-header > button {
    margin-top: 35px;
}
/*.navbar-default .navbar-nav > li.active > a{
    color: black ;
    background-color: white;
    border-bottom: thick  black;
}*/
@media only screen and (max-width: 767px) {
    .navbar-default .navbar-nav > li > a{
        /*color: white ;*/
        height:50px ;
    }
}


.homeLogo {

}
.aLogo {
    background-color: white;
    /*float: left;  
    padding-left:20px;
    padding-top: 100px;
    position: absolute;*/
}
.iLogo{
    /*height: auto; 
    width: auto;*/ 	
    /*max-width: 100px; 
    max-height: 100px;*/
    /*float: left;
    margin-top: -80px;*/
}
#bs-example-navbar-collapse-1 {
    /*margin-left:165px;*/
}

/* Bootstrap Tabs*/
#exTab3 .nav-pills > li > a {
  /*border-radius: 4px 4px 0 0 ;*/
}
#exTab3 {
    /*margin-top:100px;*/
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color:black;
    /*background-color:#6c7e89;*/
    background-color:white;
    cursor : pointer;
    border-bottom: thick  black;
    border-style: solid;
}
.nav-pills > li > a:hover {
    /*color:red;*/ 
    background-color:#fdfdfd;   
    cursor : pointer;
}
.nav-pills > li > a {
    height: 9.7em;
    background-color:#fdfdfd;
    font-weight: bold;
    color:black;
    padding-top:9px;
}
.nav-pills > li > a > img {
    zoom:35%;
    border: 4px solid #5a827f;
    border-radius: 25px;
    background: white;
    padding: 20px; 
    margin-bottom: 15px;
}
.nav-pills {
    padding: 0 18px !important;
}

/*Index Page*/
.homeContainer {
    margin-left : 1em;
    margin-right : 1em;
    padding-left: 1em;
    padding-right: 1em;
}

/* Footer */
footer {
    background-color:#178acc;
    margin-top: 2em;
    padding: 1em;
    position: relative;
    color:white;    
}

/*Home thumbnails Directive*/
#exTab3 .tab-content {
  /*color : white;
  background-color: #428bca;*/
  padding : 5px 15px;
}
#exTab3 .tab-pane >div > div > a {
  background:url(/img/background1.jpg);
  border:none;
}
#exTab3 .tab-pane >div > div > a > img{
    border: 5px solid black;
    padding: 3px;
    border-radius: 25px;
}


.row > ul > li > a > img {
    height: auto; 
    width: auto; 
    max-width: 300px; 
    max-height: 300px;	
}
.lastSection {
    height: 28em;
    background-color: #333333;         
}
.lastSection > h3, .lastSection  label  {
    color:white;
}
 .lastSectionAffLnksUslfLnks > a {
    background-color: #333333;
    color:red;
    border:none;
    border-bottom: thick dotted white;
    border-width: 2px;
    padding-bottom:5px;
    margin-bottom:5px;
    /*height: 4.3em;*/
    /*display: flex;
    align-items: center;*/
    /*justify-content: center;
    text-align: center;*/
    font-size: 20px;
}
  .lastSectionAffLnksUslfLnks > a:hover {
    cursor:pointer;
    background-color: #333333;
    color:red;
}
.lastSectionRow{	
}
@media only screen and (max-width: 300px) {
    .social-buttons > a > div {
        font-size: 0.9em !important;
    }
}
/*Contact Form*/
/*.borderless tbody tr td, .borderless tbody tr th, .borderless thead tr th {
    border: none;
}*/
    table.borderless td,table.borderless th{
     border: none !important;
}
table table td:nth-child(odd) {
    width: 25%;
}
table  table {
    margin-left: -0.5em;
}
.contactSendEmail {
    border:5px solid #0e0e0e; 
    padding:10px; 
    border-radius: 25px;
}
.contactContactUs {
    padding:0 5px; 
    margin:-45px 0 0 30px; 
    background:#fff; 
    width: 9.5em;
}
