<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <h2>Contact Information</h2>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
            <h2>Contact</h2>
            <table class="table borderless">
                <tr>
                    <th>Aerry Tax & Accounting Pty Ltd</th>
                </tr>
                <tr>
                    <td>Unit 1-6E, Level 1, 77-79 Ashley Street</td>
                </tr>
                <tr>
                    <td>Braybrook, VIC, 3019</td>
                </tr>
                <tr>
                    <!--<td><br /></td>-->
                </tr>
                <tr>
                    <td>
                        <table class="table borderless">
                            <tr>
                                <td>Phone :</td>
                                <td>03 9687 0010 - 30</td>
                            </tr>
                            <tr>
                                <td>Fax No:</td>
                                <td>03 9008 6381</td>
                            </tr>
                            <tr>
                                <td>Mobile :</td>
                                <td>0401150578</td>
                            </tr>
                            <tr>
                                <td>Email :</td>
                                <td>info@ataccounting.com.au</td>
                            </tr>
                            <tr>
                                <td>Office Hours:</td>
                                <td>Monday to Friday 10 Am - 6 Pm</td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>Weekends by Appointment only.</td>
                            </tr>
                        </table>
                    </td>
                </tr>
                <tr>
                    <td>
                        <ng-map zoom="11" center="[-37.790437, 144.862211]">
                            <marker position="[-37.790437, 144.862211]" />
                            <shape name="circle" radius="400" center="[-37.790437, 144.862211]" radius="4000" />
                            <control name="overviewMap" opened="true" />
                        </ng-map>
                        <!--<ng-map zoom="11" center="[-37.790437, 144.862211]">
                </ng-map>-->
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <h2>Send Email</h2>
        <!--<div class="messages" style="border:5px solid #0e0e0e; padding:10px; border-radius: 25px;">-->
        <div class="contactSendEmail">
            <div class="contactContactUs">
                <h3>Contact Us</h3>
            </div>
            <!--< id="contact-form" method="post" action="contact.php" role="form">-->
           <!--<form name="ContactForm" id="ContactForm" method="post" role="form" novalidate ng-submit="submitForm(contact)">-->
           <form name="ContactForm" id="ContactForm" action="//formspree.io/info@ataccounting.com.au" method="post" role="form" novalidate ng-submit="submitForm(contact)">
                <div class="controls">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{'has-error': ContactForm.txtName.$invalid && ContactForm.txtName.$dirty}">
                                <label for="txtName" class="col-sm-2 control-label">First Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="txtName" maxlength="100" placeholder="Enter First Name *" required ng-model="contact.fName">
                                    <span ng-show="ContactForm.txtName.$invalid && !ContactForm.txtName.$pristine" class="text-danger">Enter First name</span>
                                    <!--<div class="help-block with-errors"></div>-->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{'has-error': ContactForm.txtLastName.$invalid && ContactForm.txtLastName.$dirty}">
                                <label for="txtLastName" class="col-sm-2 control-label">Last Name</label>
                                <div class="col-sm-10">
                                    <input type="text" class="form-control" name="txtLastName" maxlength="100" placeholder="Enter Last Name *" required ng-model="contact.lName">
                                    <span ng-show="ContactForm.txtLastName.$invalid && !ContactForm.txtLastName.$pristine" class="text-danger">Enter First Last name</span>
                                </div>
                                <!--<div class="help-block with-errors"></div>-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{'has-error': ContactForm.txtEmail.$invalid && ContactForm.txtEmail.$dirty}">
                                <label for="txtEmail" class="col-sm-2 control-label">Email</label>
                                <div class="col-sm-10">
                                    <input type="email" class="form-control" name="txtEmail" maxlength="100" placeholder="Enter Email *" required ng-model="contact.emailComplete">
                                    <span ng-show="ContactForm.txtEmail.$invalid && !ContactForm.txtEmail.$pristine" class="text-danger">Enter valid email</span>
                                </div>
                                <!--<div class="help-block with-errors"></div>-->
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{'has-error': ContactForm.txtPhone.$invalid && ContactForm.txtPhone.$dirty}">
                                <label for="txtPhone" class="col-sm-2 control-label">Phone</label>
                                <div class="col-sm-10">
                                    <input type="number" class="form-control" name="txtPhone" maxlength="20" placeholder="Enter Phone Number *" required ng-model="contact.phone">
                                    <span ng-show="ContactForm.txtPhone.$invalid && !ContactForm.txtPhone.$pristine" class="text-danger">Enter a valid phone number</span>
                                </div>
                                <!--<div class="help-block with-errors"></div>-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group" ng-class="{'has-error': ContactForm.messageForm.$invalid && ContactForm.messageForm.$dirty}">
                                <label for="messageForm" class="col-sm-2 control-label">Message</label>
                                <div class="col-sm-10">
                                    <textarea name="messageForm" class="form-control" placeholder="Message for me *" rows="4" required ng-model="contact.message"></textarea>
                                    <span ng-show="ContactForm.messageForm.$invalid && !ContactForm.messageForm.$pristine" name="messageForm" class="text-danger">Enter a valid message</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <!--<input type="submit" class="btn btn-success btn-send" value="Send message">-->
                            <input type="submit" name="submit" class="btn btn-success btn-send" value="Submit" ng-disabled="ContactForm.$invalid" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="text-muted"><strong>*</strong> These fields are required.</p>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>

<!--<script type="text/javascript">
	$('#ContactForm').submit(function () {
		 return false;
	});
</script>--> 