<div class="container">
    <taxation-thumbnails></taxation-thumbnails>
    <!--<div class="row">
        <h1>{{title1}}</h1>
        <br />
        <p>{{description1}}</p>
        <br />
        <blockquote>
            <p>Whether you’ve got a basic tax return with a single group certificate, or you’re at the other end of the scale with rental properties and complex investments… we can help you get it sorted, fast!</p>
        </blockquote>
        <br />
        <p>{{description2}}</p>
    </div>-->
    <hr />
    <div class="row" id="taxRow" >
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 taxation" id="tax1">
            <div class="row heading">
                <h2>Tax Returns</h2>
            </div>
            <div class="row parra">
                <p>
                    We ensure that you are maximising every tax deduction that you are legally entitled to claim. We can show you how to legally reduce your tax and assist you to grow and protect your wealth.
                </p>
                <p>
                    There is also a certain level of comfort gained to know that Aerry Tax & Accounting handle all tax matters professionally, correctly, legally and in a timely fashion - avoiding penalties and fines. This minimises any disruption to your personal lives and allows you to enjoy what really matters.
                </p>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 taxation" id="tax2">
            <div class="row heading">
                <h2>Taxation Solutions</h2>
            </div>
            <div class="row parra">
                <p>
                    One of the most important tasks that your Accountant can do for you is to assist you meet your tax and compliance requirements to the ATO. Naturally, timely compliance ensures that you are not targeted and fined by the ATO. Your dedicated Client Manager at Aerry Tax & Accounting will handle these matters professionally on your behalf freeing you to work strategically on your business and investments allowing you to focus on the things that grow your wealth.
                </p>
            </div>
        </div>
    </div>
</div>